/* Global Styling */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Mr_Dafoe';
    src: url('../fonts/Mr_Dafoe/MrDafoe-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'SANTIO-Bold';
    src: url('../fonts/SANTIO/TTF/Santio\ Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-white: #FFF;
    --color-yellow: #E7BC0E;
    --color-green: #6BC1A3;
    --color-pink: #CB91B6;
    --color-blue: #7EB8E1;
    --background-color-p: #333;
    --background-color-footer: #000;
    --background-color-p-op: #0000007d;
}

html {
    width: 100%;
}

/* !Font-Stylings */

/* Font-Stylings section 1 - section 1 */

h1 {
    font-family: 'Inter';
    font-size: 4.125rem;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 15vh;
}

.pScroll {
    font-family: 'Mr_Dafoe';
    font-size: 2rem;
    color: var(--color-yellow);
    position: relative;
}

.pV {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-yellow);
    position: absolute;
    top: 1.5rem;
    left: 17rem;
}

/* Font-Stylings section 1 - section 2 */

.pArt2 {
    font-family: 'SANTIO-Bold';
    font-size: 2.25rem;
    color: var(--color-green);
    line-height: 1.25;
}

.pArt2Span {
    color: var(--color-white);
    background-color: var(--background-color-p);
}

/* Font-Stylings section 1 - section 3 */

.fontFamArt3 {
    font-family: 'SANTIO-Bold';
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: -0.5rem;
}

/* Font-Stylings yellow div */

h2 {
    font-size: 8.5rem;
    color: var(--color-yellow);
}

.pArt3_1 {
    color: var(--color-yellow);
    font-size: 3.2rem;
}

.pArt3_Span1 {
    font-size: 3.2rem;
    color: var(--color-white);
    background-color: var(--background-color-p-op);
}

/* Font-Stylings pink and green div */

.pArt3_2 {
    color: var(--color-pink);
    font-size: 3.6rem;
}

.pArt3_2_Font2 {
    color: var(--color-pink);
    font-size: 6rem;
}

.pArt3_3 {
    color: var(--color-green);
    font-size: 3.6rem;
}

.pArt3_3_Font2 {
    color: var(--color-green);
    font-size: 7rem;
}

.pArt3_Span2 {
    font-size: 3.2rem;
    color: var(--color-white);
    background-color: var(--background-color-p);
}

/* Font-Styling blue div */

.pArt3_4 {
    color: var(--color-blue);
    font-size: 2.2rem;
    line-height: 1.5;
}

.pArt3_Span3 {
    font-size: 2.2rem;
    color: var(--color-white);
    background-color: var(--background-color-p);
}

/* Font Styling Footer */

.pFooter {
    font-family: 'Inter';
    color: var(--color-white);
    font-size: 3rem;
}

.buttonFooter {
    font-family: 'Roboto-Light';
    color: var(--color-white);
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pFooterBottom {
    font-family: 'Roboto-Light';
    font-size: 0.8rem;
    color: var(--color-white);
}

.pFooterBottom_Span {
    color: var(--color-green);
}


/* !Header-Styling on right side */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 4rem 0 0;
    gap: 1rem;
    grid-area: header;
}

/* Heart Image Sizing */

.heart {
    width: 1.5rem;
    height: max-content;
    align-self: flex-start;
}

/* Button-Styling */

.header button {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-yellow);
    padding: 0.5rem;
    font-family: 'Roboto-Light';
    font-size: 1rem;
    color: var(--color-white);
    cursor: pointer;
}

/* !Main - Section 1 Styling */

/* Icon-Styling */

.roundIcon {
    width: 6.6rem;
    height: max-content;
}

/* Display Grid on section 1 */

.content1 {
    width: 100%;
    background-image: url('../img/cleo-topper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    padding-bottom: 15vh;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
    ". . . . . . . . . header header"
    ". section1 section1 section1 . . . . . . ."
    ". . section2 section2 section2 section2 . . . . ."
    ". . . section3 section3 section3 section3 section3 section3 . .";
}

.section1 {
    grid-area: section1;
    margin-bottom: 35vh;
}

.section2 {
    grid-area: section2;
    margin-bottom: 50vh;
    padding-right: 1.5vw;
}

.section3 {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    gap: 35vh;
    
}

.description {
    padding-right: 20vw;
}

.children {
    background-image: url('../img/see.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    margin-bottom: -2vh;
}

/*  Footer */

footer {
    width: 100%;
    padding-top: 15vh;
    background-color: var(--background-color-footer);
    height: max-content;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    ". fText fText fText . . . . . . ."
    ". button . . . . . . . . ."
    ". . . . website website website . . . .";
}

.help {
    grid-area: fText;
    margin-bottom: 5vh;
    padding-right: 2.2vw;
}

.button {
    grid-area: button;
    background-color: var(--background-color-footer);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-white);
    margin: 0 auto;
    cursor: pointer;
}

.website {
    grid-area: website;
    justify-self: center;
    margin-top: 15vh;
    padding-bottom: 2vh;
}

.button:hover {
    box-shadow: 10px 10px 1px var(--color-white);
}